<!DOCTYPE html>
<html lang="en">
<head>
  <title>my first</title>
  
</head>
<body>



  <div id="admin" class="container-fluid col-sm-8 col-12 " style="padding-top:70px;padding-bottom:70px;background-color:#ffffff">
    <h1>2 Admin login</h1>
    <p>registered admin can login to the application by using their user id and password,it will provide following functions</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmNQvk-zjPRAp6TknSxRLbQM0mPKL-Mv-QNOj3uCKbKwVANrc0DVMqGhsSNCiKsADVvk0&usqp=CAU" class="rounded" alt="Cinque Terre" width="574" height="436">
    
    <h4>2.1 Pharmacy selection</h4>
    <p>Admin can search for a specific pharmacy by using pharmacy id, if required pharmacy found then admin can select it</p>
    <h4>2.2 Pharmacy operation</h4>
    <p>After selecting pharmacy admin can perfron following tasks</p>
    <h6>2.2.1 Appointment</h6>

    <p>admin can view and create/modify the appointment .while creating the appointment the admin can select patient id ,date and slot after selecting both the admin want to confirm the slot,once this done patient can view the appointment and status</p>

    <h6>2.2.2 Patient setting</h6>
    <p>Admin can search for a patient by using patient id, after selecting patient admin can able to update the patient details</p>
    <h6>2.2.3 Notification settings</h6>
    <p>This application also provide admin to set notifications when a new patient registration completed and also when a patient waiting in the lobby for a meeting with pharmacist</p>
    <h4>2.3 Test audio/video</h4>
    <p>with this web application admin can able  to test their audio and video before starting the meeting. </p>
    <h4>2.4 FAQ</h4>
    <p>FAQ section helps the admin to find the frequently asked question by the patient,  also this application provides an option to filter the patient queries based on their question  </p>
    <h4>2.5  Events</h4>
    <p>this application provide a feature to admin to create events, Admin can create events with informations like start time ,end time,description and required details. Once admin created the event it will be visible for both patient and pharmacist</p>

    <h4>2.6 Logout</h4>
    <p>Admin can logout buy clicking on logout bar</p>

  </div>
</body>
</html>
